{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}
    <div class="p-10 lg:p-20 text-center lg:py-8">
        <h1 class="text-3xl lg:text-6xl text-white font-semibold">CIT Realtime Chat Application</h1>
    </div>

    <div class="p-6 lg:p-60 lg:py-4">
        <p class="text-3xl lg:text-4xl text-gray-200">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit enim laboriosam tenetur doloremque, soluta quas expedita, necessitatibus alias odio temporibus quod fuga velit voluptatem facilis quibusdam quidem, voluptates eveniet ab?
        </p>
        <p class="text-3xl lg:text-4xl text-gray-200 pt-10">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit enim laboriosam tenetur doloremque, soluta quas expedita, necessitatibus alias odio temporibus quod fuga velit voluptatem facilis quibusdam quidem, voluptates eveniet ab?
        </p>
        <p class="text-3xl lg:text-4xl text-gray-200 pt-10">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit enim laboriosam tenetur doloremque, soluta quas expedita, necessitatibus alias odio temporibus quod fuga velit voluptatem facilis quibusdam quidem, voluptates eveniet ab?
        </p>
    </div>
{% endblock %}